@font-face {
  font-family: 'SokchoBadaDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'SokchoBadaDotum';
  animation: fade-in 1.5s ease forwards;
  text-decoration: none; 
}

@media only screen and (max-width: 767px) {
  *{
      overflow-x: hidden; /* 가로 스크롤 제거 */
  }
}


body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh; 
  padding: 50px;
  text-align: center;
}

#home {
  background-image: url('../bg/1.png');
  background-size: cover; 
  background-position: center; 
  color: rgb(0, 0, 0); 
  padding-top: 100px; 
  padding-bottom: 50px;
  padding-right: 100px; 
}

/* 홈 섹션 글씨 디자인*/

#home #m-title{
  font-size: 48px;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  color: transparent;
  background-clip: text;
}

#home #m-sub{
  font-size: 20px;
}

#home #sub{
  font-size: 48px;
}

#home #sub{
  font-size: 48px;
}

#home h1,
#home p {
  text-align: left; /* 왼쪽 상단 정렬 */
}

.colored {
  color: #569194; 
  font-weight: bold; 
}

/* 데스크톱 화면에 대한 스타일 */
@media only screen and (min-width: 768px) {
  #home h1 {
      font-size: 60px; 
  }
}

/* 모바일 화면에 대한 스타일 */
@media only screen and (max-width: 767px) {
  #home h1 {
      font-size: 28px; 
  }
}

@media only screen and (max-width: 767px) {
  #m-title, #m-sub {
      display: block;
  }
  #home #title, #sub{
      display: none;
  }
}

@media only screen and (min-width: 768px) {
  #m-title, #m-sub {
      display: none;
  }
}

section:last-child {
  padding-bottom: 0;
}

header {
  background-color: #82DCE1; 
  color: #fff;
  padding: 10px 20px; 
  position: fixed;
  top: 0;
  right: 0; 
  width: 100%;
  z-index: 1000;
}

@media only screen and (max-width: 767px) {
  header {
      display: none; /* 모바일 화면에서 네비게이션 바를 숨김. */
  }
}


nav {
  display: flex;
  justify-content: flex-end; 
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #00547a;
}

nav a:hover #sp {
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
  color: transparent;
  background-clip: text;
}

#sp{
  color : black
}

/* 소개 섹션 디자인 */  

#about {
  background-image: url('../bg/1_.png');
  background-size: cover; 
  background-position: center; 
  color: rgb(233, 247, 255); 
  padding-top: 100px; 
  padding-bottom: 50px;
  padding-right: 100px; 
}

/* 소개 섹션 글씨 디자인 */

#about #a-title {
  text-align: center;
  font-size: 60px;
  margin-top: 200px;
}

#about .ifwords{
  text-align: center;
  font-size: 28px;
}

#ma-title{
  font-size: 36px;
}

#m-ifword{
  text-align: center;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  #about #ma-title {
      margin-left: 40px;
      text-align: center;
      margin-top: 200px;
  }
  #m-ifword{
      margin-bottom: 50px;
      margin-left: 40px;
      text-align: center;
  }
}
  
@media only screen and (max-width: 767px) {
  #m-ifword ,#a-title {
      display: block;
  }
  .ifwords, #a-title{
      display: none;
  }
}

@media only screen and (min-width: 768px) {
  #m-ifword, #ma-title{
      display: none;
  }
}

/* 커리큘럼 섹션 디자인 .*/

#curryculrum {
  background-image: url('../bg/more_ocean.png');
  background-size: cover; 
  background-position: center; 
  color: rgb(0, 0, 0); 
  padding-top: 100px; 
  padding-bottom: 50px;
  padding-right: 100px; 
}

#s-main{
  text-align: center;
  font-size: 60px;
  margin-top: 200px;
}

.c-ifwords{
  text-align: center;
  font-size: 28px;
}

#curry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-group {
  display: flex;
}

.text-group:first-child {
  margin-right: 100px; 
}

.text-group:last-child {
  margin-left: 100px; 
}

.de-text {
  font-size: 24px;
  text-align: center;
  margin-right: 10px; 
}

#d1{
  font-size: 32px;
  color: black;
  background-color: #5D9FFF;
}

@media only screen and (max-width: 767px) {
  #s-main{
      margin-left: 40px;
      font-size: 36px;
      text-align: center;
  }

  .c-ifwords{
      margin-top: 50px;
      margin-left: 50px;
      font-size: 24px;
      text-align: center;
  }

  #curry {
      display: none;
  }
}

/* 홍보 섹션 디자인 */

#video{
  background-color: #fff;
  background-size: cover; 
  background-position: center; 
}

.v-ifwords{
  text-align: center;
  font-size: 28px;
}

.video-frame {
  text-align: center;
  position: relative;
  width: 560px;
  height: 315px;
  margin: 0 auto;
  border:#82DCE1 15px solid;
  border-radius: 10px;
}

.video-frame iframe {
  display: block; 
  width: 100%; 
  height: 100%; 
}

@media only screen and (max-width: 767px) {
  .video-frame {
      margin-left: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto; /* 화면의 50% 높이로 설정 */
      overflow: hidden; /* 동영상이 넘치지 않도록 설정 */
  }

  .video-frame iframe {
      width: 100%; /* 부모 요소에 꽉 차도록 설정 */
      height: auto; /* 가로 비율에 맞춰 자동으로 높이 조절 */
  }
}

@media only screen and (max-width: 767px) {
  .v-ifwords{
      margin-left: 35px;
      font-size: 26px;
      text-align: center;
  }
}

/* 동아리 활동 섹션 디자인 */

#clubdoing{
  background-color: #fff;
  background-size: cover; 
  background-position: center; 
}

#c-main{
  text-align: center;
  font-size: 60px;
  margin-top: 200px;
}

.club-img{
  display: flex; 
  justify-content: center;
}
.club-img .images {
  margin: 30px; /* 이미지 아이템 간격 설정 tlqkf*/
  text-align: center; 
}
.club-img img {
  width: 360px; 
  height: auto; 
  border: #82DCE1 10px solid;
  border-radius: 10px;
}

.img-info{
  font-size: 24px;
}

.info2{
  font-size: 20px;
  color: #a0a0a0d5;
}

/* 모바일 미디어 쿼리 */
@media only screen and (max-width: 767px) {
  #clubdoing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-clubword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* 필요에 따라 조절하여 간격을 설정합니다. */
}

.m-clubword {
  text-align: center;
  font-size: 24px;
}
  
  #c-main{
      font-size: 30px;
  }

  .images{
      display: none;
  }
}

@media only screen and (min-width: 768px) {
  .m-clubword-container {
      display: none;
  }
}

/* 지원 섹션 디자인 */

#apply{
  color: black;
  background-color: #fff;
  background-size: cover; 
  background-position: center; 
}

#end {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#endword{
  font-size: 48px;
}

.text-group1 {
  display: flex;
}

.text-group1:first-child {
  margin-right: 150px; 
}

.text-group1:last-child {
  margin-left: 150px; 
}

.de-text1 {
  font-size: 24px;
  text-align: center;
  margin-right: 10px; 
}

#d1{
  font-size: 32px;
  text-shadow: 0px 0px 10px #82DCE1;

}  

#handin{
  position: relative;
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: 0.5s;
  background-color: #c9fcff;
  padding: 5px;
  border: #c9fcff 5px solid;
  border-radius: 10px;
  bottom: 2px;
}

#handin:hover{
 font-size: 30px;
 color: rgb(0, 0, 0);
 background-color:#82DCE1;
 border: #82DCE1 5px solid;
}

#insta-logo{
  width: 50px;
  height: 50px;
}

#insta{
position: relative;
font-size: 30px;
text-align: center;
color: rgb(0, 0, 0);
transition: 0.5s;
background-color: #c9fcff;
padding: 5px;
border: #c9fcff 5px solid;
border-radius: 10px;
bottom: 16px;
}

#insta:hover{
font-size: 30px;
color: rgb(0, 0, 0);
background-color:#82DCE1;
border: #82DCE1 5px solid;
}

#name{
position: relative;
top: 300px;
text-shadow: 0 5px 10px #82DCE1;
}

@media only screen and (min-width: 768px) {
  #m-end{
      display: none;
  }
}

/* 모바일 미디어 쿼리 */
@media only screen and (max-width: 767px) {

  #end{
    display: none;
  }

  #m-end {
      margin-top: 50px; 
      text-align: center; 
  }

  #handin, #insta {
      display: block;
      font-size: 20px; 
      margin: 20px auto; 
      padding: 10px 20px; 
      color: rgb(0, 0, 0);
      background-color: #c9fcff; 
      border: #c9fcff 5px solid; 
      border-radius: 10px; 
      transition: 0.5s; 
      text-decoration: none;
  }

  #handin:hover, #insta:hover {
      background-color: #82DCE1; 
      border: #82DCE1 5px solid; 
  }

  #insta-logo {
      width: 40px; 
      height: 40px;
  }
}


/* 애니메이션 */

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}