@font-face {
  font-family: 'YEONGJUPunggiGinsengTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NPSfontBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SokchoBadaDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SokchoBadaDotum';
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  transition: opacity 1s ease; /* 페이드 아웃 애니메이션을 적용하기 위한 CSS 트랜지션 */
}


#page {
  display: none;
}

#word1, #word2{
  font-size: 48px;
}

#kword1, #kword2{
  color: rgb(90, 90, 90);
  font-size: 24px;
}

#word1, #word2, #kword1, #kword2 {
  text-align: center;
  opacity: 0;
}

#color{
  color:#82DCE1;
}