body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    transition: opacity 1s ease; /* 페이드 아웃 애니메이션을 적용하기 위한 CSS 트랜지션 */
  }

  #splash-screen {
    display: none;
  }

  #create-game, #reality-of-imagine {
    opacity: 0;
  }