@font-face {
  font-family: 'Cafe24Moyamoya-Face-v1.0';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Face-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  transition: opacity 1s ease; /* 페이드 아웃 애니메이션을 적용하기 위한 CSS 트랜지션 */
}

#page {
  display: none;
}

#word1, #word2 {
  font-family: 'Cafe24Moyamoya-Face-v1.0';
  opacity: 0;
}